* text=auto

####/.gitattributes export-ignore
####/.gitignore export-ignore

/modules export-ignore
/trunk export-ignore
/tests export-ignore
/bin export-ignore

/.bin export-ignore

/wp-content/debug.log export-ignore

####/contributing.md export-ignore
####/changelog.md export-ignore
####/license.md export-ignore
####/readme.md export-ignore